.landing-container {
    background-color: #3A3D55;
    background-image: url('../media/background.jpg');
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.landing-pic {
    max-width: 575px;
    max-height: 690px;
    height: auto;
    width: 100%;
    margin: auto;
    display: block;
}

.pic-container {
    height: 100vh;
    width: 40%;
    margin-top: auto;
    display: flex;
    align-items: center;
}

.landing-description {
    width: 75%;
    margin: auto;
}

.social-links {
    margin: auto;
    width: 350px;
    border-top: 2px solid #40B7F2;
    border-bottom :2px solid #40B7F2;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom:15px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

/* .social-link {
    
} */

.social-pic {
    height: 34px;
    width: 34px;
    border-radius: 17px;
}

.aside {
    background-color: rgba(198, 233, 251, 0.85);
    border-radius: 40px;
    font-family: 'Montserrat';
    font-family: 'Ubuntu';

}

.aside > p {
    max-width: 56em;
}