.landing-container {
    background-color: #3A3D55;
    background-image: url('../media/background.jpg');
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.landing-pic {
    max-width: 575px;
    max-height: 690px;
    height: auto;
    width: 100%;
    margin: auto;
    display: block;
}

.pic-container {
    height: 100vh;
    width: 40%;
    margin-top: auto;
    display: flex;
    align-items: center;
}

.landing-description {
    width: 75%;
    margin: auto;
}

.social-links {
    margin: auto;
    width: 350px;
    border-top: 2px solid #C2C5D6;
    border-bottom :2px solid #C2C5D6;
    padding-top: 10px;
    padding-bottom: 10px;
}

.social-link {
    
}

.social-pic {
    height: 40px;
    width: 40px;
    border-radius: 25px;
}